.ProgressCard {
    width: 211px;
    height: 211px;
    justify-content: center;
    row-gap: 8px;
    position: relative;
}

.value {
    font-weight: 700;
    font-size: 37px;
}
.subTitle {
    color:#606060;
    font-size: 14px;
}
.progress {
    position: absolute;
    top: 10px;
    left: 5%;
    width: 90%;
    height: 90%;
    background-image: url("/icons/clock-back.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}