.ProgressCard {
    width: 211px;
    height: 211px;
    justify-content: center;
    row-gap: 8px;
    position: relative;
}

.value {
    font-weight: 700;
    font-size: 37px;
}
.subTitle {
    color: #606060;
    font-size: 14px;
    position: absolute;
    bottom: 8px;
}
.progress {
    position: absolute;
    top: 10px;
    left: 5%;
    width: 90%;
    height: 90%;
    background-image: url("/icons/clock-back.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.options {
    position: absolute;
    right: 28px;
    bottom: 8px;
    background-color: #EBEBEB;
    border-radius: 5px;
    height: 18px;
    width: 18px;
    text-align: center;
    cursor: pointer;
}
.moreIcon {
    font-size: 18px;
}