.status {
    width: 10px;
    height: 10px;
    background-color: #D90000;
    border-radius: 100%;
}
.status.success {
    background-color: #31BE00;
}
.status.error {
    background-color: #D90000;
}
.statusCell {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.table td {
    color: #606060!important;
}
.table {
    background: #FFFFFF;
    box-shadow: 15px 6px 17px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    /*padding: 16px 32px;*/
}
.table tr:last-child td{
    border-bottom: unset;
}
.table thead th {
    font-weight: 700;
    color: #333;
}
.table thead th:first-child {
    font-size: 22px;
}